---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jose Rodolfo Rojas | Software Engineer and Developer</title>
    <meta name="description" content="Jose Rodolfo Rojas is a Software Engineer and Developer based in Costa Rica 🇨🇷.">
	</head>
	<body>
		<h1 class="text-3xl font-bold text-orange-700">Jose Rodolfo Rojas</h1>
	</body>
</html>
